.page {
	display: flex;
	flex-direction: column;
	gap: 34px;

	max-width: var(--container-width);
	margin: 0 auto;
	padding: 32px 16px 48px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 10px;

	max-width: 1024px;
	margin: 0 auto;
}

.title {
	font-size: clamp(1.7rem, 1.2rem + 1.2vw, 2.3rem);
	color: var(--color-white);
}

.description {
	font-size: 18px;
	font-weight: 500;
	color: rgb(221 226 246 / 84%);
}

@media (width <=550px) {
	.page {
		padding-top: 24px;
	}
}
