.container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.canvasBg,
.canvasFg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: block;
	pointer-events: none;
}

.canvasBg {
	z-index: 1;
}

.canvasFg {
	z-index: 2;
}
