@use '@styles/mixins' as *;

.panel {
	margin-top: 4px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 8px;
}

.group {
	display: flex;
	align-items: center;
	gap: 8px;
}

.groupTop {
	padding-right: 4px;
	border-right: 2px solid var(--border-color-fon);
}

.groupBottom {
	display: flex;
	align-items: center;
	gap: 8px;
}

.iconButton {
	margin: 0;

	span {
		margin: 0;
		padding: 8px;
	}

	&:hover span,
	&:focus-visible span {
		border-radius: var(--radius-sm);
		color: var(--color-white);
		background-color: rgb(from var(--color-white) r g b / 10%);
	}
}

.brandIcon {
	font-size: 24px;
	color: var(--color-white);
}

.languageControl {
	position: relative;

	display: flex;
	align-items: center;
}

@media (width <=551px) {
	.panel {
		justify-content: space-between;
	}

	.groupBottom {
		padding-left: 4px;
		border-left: 2px solid var(--border-color-fon);
	}
}
