@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.card {
	z-index: 10;
	display: flex;
	text-decoration: none;
}

.inner {
	@include glass-card;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 20px;
	border-radius: $border-radius-sm;
}

.title {
	margin: 0 0 8px;
	font-size: 18px;
	font-weight: 700;
}

.short {
	margin: 0;
	font-size: 0.95rem;
	opacity: 0.85;
}
