@use '@/shared/styles/mixins' as *;

.page {
	position: relative;
	overflow-y: auto;
	background-color: var(--color-black);

	@include boundary-dimming;
}

.card {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;

	min-height: calc(100dvh - 64px);
	padding-inline: 16px;

	background-image: radial-gradient(
		ellipse at center,
		rgb(38 38 38),
		rgb(38 38 38) 0,
		transparent 70%
	);
}

.title {
	color: var(--color-white);
}

.button {
	margin-top: 8px;
	padding: 8px 16px;
	border-radius: var(--radius-sm);

	background-color: var(--color-white);

	transition: transform 0.25s ease;

	span {
		color: var(--color-black);
	}

	&:hover {
		transform: scale(1.05);
	}

	&:focus-visible {
		transform: scale(1.05);
		outline: 2px solid var(--color-accent-classic);
		outline-offset: 3px;
	}
}
