.page {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 40px 16px;
}

.back {
	margin-bottom: 56px;
	gap: 8px;

	span {
		font-size: 14px;
		margin: 0;
		font-weight: 400;

		transition:
			transform 0.3s ease,
			color 0.3s ease;
	}

	&:hover,
	&:focus-visible {
		transform: scale(1.05);

		span {
			color: var(--color-accent-classic);
		}
	}
}

.icon {
	width: 16px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 16px;
}

.date p {
	font-size: 12px;
	font-weight: 400;
}

.title {
	font-weight: 800;
	color: var(--color-white);
}

.content {
	display: grid;
	gap: 12px;
}

.paragraph {
	line-height: 1.65;
	font-size: 16px;
	color: var(--color-text-blog);
	font-weight: 400;
}

@media (width <=551) {
	.title {
		font-size: 22px;
	}
}
