@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.navbar {
	@include glass-card;

	position: fixed;
	z-index: 999;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 12px 80px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}

.left {
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	font-size: 24px;
	color: $white;
}

.title {
	margin-right: 34px;

	span {
		font-size: 20px;
		color: $white;
	}
}

.navList {
	display: flex;
	align-items: center;

	button {
		margin: 0 16px;

		&:focus-visible > span {
			transform: scale(1.05);
			color: $accent-classic;
		}
	}

	span {
		cursor: pointer;
		font-size: 16px;
		transition: color 250ms ease;

		&:hover {
			color: $accent-classic;
		}
	}
}

.right {
	display: flex;
	align-items: center;
	padding-left: 8px;
	border-left: 2px solid rgba($white, 0.2);

	button {
		position: relative;
	}

	button,
	a {
		span {
			margin: 0;
			padding: 8px;
		}

		&:hover > span {
			border-radius: $border-radius-sm;
			color: $white;
			background-color: rgba($white, 0.1);
		}

		&:focus-visible > span {
			border-radius: $border-radius-sm;
			color: $white;
			background-color: rgba($white, 0.1);
		}
	}
}

.dropdown svg {
	transition: transform 250ms ease;
}

.dropdownOpen svg {
	transform: rotate(180deg);
}

@media (width <=768px) {
	.navbar {
		padding: 12px 24px;
	}

	.title {
		margin: 0 8px 0 4px;
	}
}

// *Mobile Panel-----------------

.sidePanel {
	@include glass-card;

	pointer-events: none;
	will-change: transform, opacity;

	position: fixed;
	z-index: 999;
	top: 90px;
	right: 0;
	transform: translateX(100%);

	display: flex;
	flex-direction: column;
	gap: 16px;

	height: calc(100vh - 90px);
	padding: 16px;
	border-radius: $border-radius-sm 0 0 0;

	opacity: 0;

	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.sidePanelOpen {
	pointer-events: auto;
	transform: translateX(0);
	opacity: 1;
}

.panelNav {
	height: 100%;
}

.panelTop {
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		span {
			margin: 0;
			padding: 8px;
		}

		&:hover > span {
			border-radius: $border-radius-sm;
			color: $white;
			background-color: rgba($white, 0.1);
		}

		&:focus-visible > span {
			border-radius: $border-radius-sm;
			color: $white;
			background-color: rgba($white, 0.1);
		}
	}
}

.panelBottom {
	padding-bottom: 4px;
	border-bottom: 2px solid rgba($white, 0.2);
}

.panelMiddle {
	justify-content: space-between;
	height: 100%;
}

.githubButton {
	padding-top: 4px;
	border-top: 2px solid rgba($white, 0.2);
}

@media (width <=550px) {
	.panelMiddle {
		height: calc(100% - 80px);
		padding-top: 4px;
	}
}

// *Language Panel-----------------

.languagePanel {
	@include glass-card;

	pointer-events: none;

	position: fixed;
	z-index: 999;
	top: 70px;
	transform: translateY(-10px);

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	border-radius: $border-radius-sm;

	opacity: 0;

	transition: all 350ms ease-out;
}

.languagePanelOpen {
	pointer-events: auto;
	transform: translateY(0);
	opacity: 1;
}

.languageButton {
	width: 100%;

	span {
		display: flex;

		width: 100%;
		padding: 8px 16px;

		font-size: 14px;

		transition: color 250ms ease;

		&:hover {
			color: $accent-classic;
		}
	}

	&:focus-visible > span {
		transform: scale(1.05);
		color: $accent-classic;
	}
}
