//* COLORS
$white: #ffffff;
$black: #000000;

//* BUTTON COLORS

$color-text: #42567a;
$color-accent: #ef5da8;
$color-heading: #5d5fef;
$color-subtitle: #3877ee;

//* FONT

$font: 'PTSans', sans-serif;
$font-date: 'BebasNeue', sans-serif;

//* VECTOR
$vector-color: rgba(#42567a, 0.1);
$deco-lines: 1px solid $vector-color;
