@use './fonts' as *;
@use './variables' as *;
@use './mixins' as *;

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	backface-visibility: hidden;
	color: inherit;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

a {
	text-decoration: none;

	&:visited,
	&:hover {
		text-decoration: none;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

nav,
footer,
header,
aside {
	display: block;
}

:focus,
:active {
	outline: none;
}

html,
body,
main {
	height: 100%;
	width: 100%;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
	background: transparent;
	outline: none;
}

input::-ms-clear {
	display: none;
}

input[type='number'] {

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}

	appearance: textfield;
}

button,
label {
	cursor: pointer;
	background: none;
	-webkit-tap-highlight-color: transparent;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

//* TYPOGRAPHY

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Geist, Arial, sans-serif;
}

p,
span,
samp,
li,
ol,
a {
	color: $text;
	font-size: 20px;
	font-family: Rubik, Arial, sans-serif;
	font-weight: 600;
	line-height: 1.5;
}

@media (width <=768px) {

	p,
	span,
	samp,
	li,
	ol,
	a {
		line-height: 1.2;
	}
}