@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #0a0a0a;
	background-image: radial-gradient(ellipse at center, #262626, #262626 0, transparent 70%);
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: calc($space-x4 * 4);
}

.heroWrapper {
	max-width: $container-x3;
	z-index: 10;
}

.spiderCanvas {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	pointer-events: auto;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 10;
		box-shadow: inset 0 0 50px 30px $black;
		pointer-events: auto;
	}
}

.hero {
	@include glass-card();

	z-index: 20;
	padding: 1.25rem 1.5rem;
	border-radius: 12px;
	margin-bottom: 20px;
}

.heading {
	font-size: clamp(2.25rem, 1.821rem + 2.14vw, 3.75rem);
	color: $white;
	text-shadow: 10px 10px 10px rgb(0 0 0 / 35%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heroInner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $white;
}

.descriptionWrapper {
	@include glass-card();

	padding: 1.25rem 1.5rem;
	border-radius: 12px;
	margin: 0 $space-x4 $space-x6;
}

.description span {
	color: $white;
}

.buttons {
	display: flex;
	margin-top: $space-x4;
	gap: $space-x4;
}

.learn {
	padding: $space-x4 $space-x8;
	background-color: $white;
	border-radius: 12px;
	display: inline-block;
	transition: transform 0.25s ease;

	span {
		color: $black;
		display: inline-block;
	}

	&:hover {
		transform: scale(1.05);
	}
}

.features {
	padding: $space-x4 $space-x8;
	background-color: #121212;
	border: 2px solid #ffffff1a;
	border-radius: 12px;
	display: inline-block;
	transition: transform 0.30s ease, border 0.30s ease;

	span {
		color: $white;
		display: inline-block;
	}

	&:hover {
		transform: scale(1.05);
		border-color: $accent-1;
	}
}

@supports not ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
	.hero {
		background: linear-gradient(180deg, rgb(255 255 255 / 6%), rgb(255 255 255 / 3%));
		border: 1px solid rgb(255 255 255 / 8%);
	}

	.heroInner::after {
		display: none;
	}
}

@media (width <=768px) {
	.spiderCanvas::before {
		box-shadow: inset 0 0 20px 10px #000;
	}

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-inline: calc($space-x4 * 2);
	}

	.heroInner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		color: $white;
	}
}