@use '@/shared/styles/mixins' as *;

.desktopControls {
	position: relative;
	display: flex;
	gap: 8px;
	align-items: center;
}

.panel {
	@include glass-card;

	pointer-events: none;

	position: absolute;
	z-index: 1001;
	transform-origin: top right;
	transform: translateY(-10px);

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	border-radius: var(--radius-sm);

	opacity: 0;

	transition:
		opacity var(--language-panel-transition-ms, 350ms) ease,
		transform var(--language-panel-transition-ms, 350ms) ease;
}

.panelDesktop {
	top: 55px;
}

.panelMobile {
	top: 42px;
}

.panelOpen {
	pointer-events: auto;
	transform: translateY(0);
	opacity: 1;
}

.languageButton {
	width: 100%;

	span {
		display: flex;

		width: 100%;
		padding: 8px 12px;

		font-size: 15px;

		transition: color var(--language-panel-transition-ms, 350ms) ease;

		&:hover {
			color: var(--color-accent-classic);
		}
	}

	&:focus-visible > span {
		transform: scale(1.05);
		color: var(--color-accent-classic);
	}
}
