.H1 {
	font-weight: 600;
	font-size: 24px;
}

.H2 {
	font-weight: 700;
	font-size: 20px;
}

.H3 {
	font-weight: 600;
	font-size: 18px;
}

.H4 {
	font-weight: 700;
	font-size: 16px;
}

.P1 {
	font-weight: 500;
	font-size: 20px;
}

.P2 {
	font-weight: 600;
	font-size: 18px;
}

.P3 {
	font-weight: 500;
	font-size: 18px;
}

.P4 {
	font-weight: 500;
	font-size: 14px;
}

.P5 {
	font-weight: 700;
	font-size: 8px;
}

.Btn1 {
	font-weight: 700;
	font-size: 18px;
}

.Filtr {
	font-weight: 400;
	font-size: 12px;
}

.Inputs {
	font-weight: 500;
	font-size: 16px;
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}
