.card {
	display: block;
	text-decoration: none;

	&:focus-visible article {
		transform: scale(1.05);
		background-color: rgb(from var(--color-white) r g b / 5%);
		outline: 2px solid var(--color-accent-classic);
		outline-offset: 3px;
	}
}

.inner {
	display: flex;
	flex-direction: column;

	height: 100%;
	padding: 16px;
	border: 1px solid var(--border-color-fon);
	border-radius: var(--radius-sm);

	background-color: rgb(from var(--color-white) r g b / 2%);
	backdrop-filter: blur(10px);

	transition:
		transform 0.3s ease,
		border 0.3s ease,
		background-color 0.3s ease;

	&:hover {
		transform: scale(1.05);
		border-color: var(--color-accent-classic);
		background-color: rgb(from var(--color-white) r g b / 5%);
	}

	&:focus-visible {
		transform: scale(1.05);
		background-color: rgb(from var(--color-white) r g b / 5%);
		outline: 2px solid var(--color-accent-classic);
		outline-offset: 3px;
	}
}

.header {
	display: flex;
	flex-direction: column;
	margin: 6px 0 12px;
}

.title {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	color: var(--color-white);
}

.date {
	font-size: 12px;
	font-weight: 500;
	color: var(--color-white);
	opacity: 0.75;
}

.excerpt {
	margin: 0;

	font-size: 14px;
	line-height: 1.45;
	color: var(--color-white);

	opacity: 0.85;
}
