@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.container {
	position: relative;
	min-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #0a0a0a;
	background-image: radial-gradient(ellipse at center, #262626, #262626 0, transparent 70%);
}

.content {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 64px;
}

.heroWrapper {
	max-width: 768px;
	z-index: 20;
}

.spiderCanvas {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	pointer-events: auto;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 10;
		box-shadow: inset 0 0 50px 20px $black;
		pointer-events: none;
	}
}

.hero {
	@include glass-card();

	padding: 20px 24px;
	border-radius: $border-radius-sm;
	margin-bottom: 20px;
}

.heading {
	font-size: clamp(2.25rem, 1.821rem + 2.14vw, 3.75rem);
	color: $white;
	text-shadow: 10px 10px 10px rgb(0 0 0 / 35%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.heroInner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $white;
}

.descriptionWrapper {
	border-radius: $border-radius-sm;
	padding: 0 24px 16px;
	text-shadow: 0px 0px 20px rgb(0 0 0);
}

.description span {
	color: $white;
}

.buttons {
	display: flex;
	margin-top: 16px;
	gap: 16px;
}

.learn {
	padding: 16px 32px;
	background-color: $white;
	border-radius: $border-radius-sm;
	display: inline-block;
	transition: transform 0.25s ease;

	span {
		color: $black;
		display: inline-block;
	}

	&:hover {
		transform: scale(1.05);
	}

	&:focus-visible {
		transform: scale(1.05);
		outline: 2px solid $accent-classic;
		outline-offset: 3px;
	}
}

.features {
	padding: 16px 32px;
	background-color: #121212;
	border: 2px solid #ffffff1a;
	border-radius: $border-radius-sm;
	display: inline-block;
	transition: transform 0.30s ease, border 0.30s ease;

	span {
		color: $white;
		display: inline-block;
	}

	&:hover {
		transform: scale(1.05);
		border-color: $accent-classic;
	}

	&:focus-visible {
		transform: scale(1.05);
		outline: 2px solid $accent-classic;
		outline-offset: 3px;
	}
}

@media (width <=768px) {
	.content {
		align-items: flex-start;
		padding: 128px 20px 20px;
	}

	.hero {
		padding: 16px 20px;
	}

	.spiderCanvas::before {
		box-shadow: inset 0 0 20px 10px #000;
	}

	.heroInner {
		font-size: 16px;
	}
}

@media (width <=640px) {
	.buttons {
		flex-direction: column;
		width: 100%;

		button>span {
			font-size: 16px;
		}
	}

	.features,
	.learn {
		padding: 14px 20px;
		width: 100%;
		box-sizing: border-box;
	}
}